body {
  background-color: #BFAF80;
  color:#59323c;
  font-family: georgia;
}
header {
  color:#260126;
  background-color:#BFAF80; 
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  background-color: #F2EEB3
  padding:10px;
  margin: 5px
}
.sublist {
  list-style-type: none;
  display: list-item;
  background-color: #F2EEB3
  padding:10px;
  margin: 5px
}
p {
  background-color:#E0E0DE;
  padding: 10px;
}
.p1-footer {
  background:none;
}
