body {
  background-image: url("https://c2.staticflickr.com/2/1018/1179676131_0a8e97b7a8_b.jpg");
  background-repeat: no-repeat;
  color:white;
  font-family: Georgia;
  width: 100%;
  height:100%;
}
h1 {
  font-family: lora;
  font-size: 48px;
  text-align: center;
  margin: 0px;
}
h2 {
  font-family: lora;
  font-style: italic;
  text-align: center;
}
nav ul {
  margin: auto;
  text-align: center; 
}
nav ul li {
  display:inline-block;
  list-style-type: none;
  padding: 10px;
  text-align: center;
    }
nav ul li a {
  color: white;
  font-weight: bolder;
    }
p {
  background-color:#cccccc
  color:black;
}

